@font-face {
    font-family: 'Wildstripe';
    font-style: normal;
    src: url('../fonts/Wildstripe.otf');

}

@font-face {
    font-family: 'Avenir-Bold';
    font-style: normal;
    src: url('../fonts/Avenir-Black.otf');
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    src: url('../fonts/Avenir-Roman.otf');
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Avenir;
    background-color: #c9dbe9;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-family: Wildstripe;
    color: white;
    margin: 0 5rem;
    text-align: center;
}

#image {
    max-height: 250px;
    max-width: 90%;
}

#container {
    margin: auto;
    position: relative;
    background: white;
    height: 450px;
    padding: 50px;
    font-size: 14px;
    border-radius: 33px;
    margin-top: -75vh;
}


#text-container,
#library-container {
    height: 100px;
    width: 100%;
    text-align: center;
}

#instruction {
    margin-top: 20px;
}

#question {
    margin-top: 20px;
}

.result-color {
    color: black;
    margin-top: 20px;
}

.green-color {
    margin-top: 10px;
    color: #739fc0;
}

.highlight {
    opacity: 0.4;
    background-color: rgba(37, 85, 139, 0.8) !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fileUploader {
    opacity: 0;
}

.btn {
    background: #faebd700;
    color: white;
    border: solid 1px white;
    padding: .6em 2em;
    line-height: 2;
    font-size: 12px;
    font-family: Avenir-Bold;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    color: black;
    background-color: white;
    border: solid 1px white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn2 {
    background: #faebd700;
    color: #739fc0;
    border: solid 1px #739fc0;
    padding: .6em 2em;
    line-height: 2;
    font-size: 12px;
    font-family: Avenir-Bold;
    cursor: pointer;
    border-radius: 10px;
}

.btn2:hover {
    color: white;
    background-color: #739fc0;
    border: solid 1px #739fc0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0;
    background-color: #739fc0;
    padding-top: 50px;
}

#library-container {
    height: 100%;
    z-index: 10;
    margin: auto;
    margin-top: -20vh;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-lib {
    flex: 0 0 auto;
    margin-bottom: 30px;
    background: white;
    padding: 40px;
    font-size: 14px;
    border-radius: 33px;
}

#library-container img {
    height: 200px;
    max-width: 250px;
}

#container-about {
    margin: auto;
    position: relative;
    background: white;
    width: 50vw;
    height: 450px;
    padding: 50px;
    font-size: 14px;
    border-radius: 33px;
    margin-top: -75vh;
}

#clouds_animation {
    padding: 80px 0;
    background: #739fc0;
    background: -webkit-linear-gradient(top, #739fc0 0%, #c9dbe9 100%);
    background: -linear-gradient(top, #739fc0 0%, #c9dbe9 100%);
    background: -moz-linear-gradient(top, #739fc0 0%, #c9dbe9 100%);
    overflow: hidden;
}

.cloud {
    margin-top: 25px;
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

.first_cloud {
    -webkit-animation: moveclouds_animation 15s linear infinite;
    -moz-animation: moveclouds_animation 15s linear infinite;
    -o-animation: moveclouds_animation 15s linear infinite;
}

.second_cloud {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6;
    -webkit-animation: moveclouds_animation 25s linear infinite;
    -moz-animation: moveclouds_animation 25s linear infinite;
    -o-animation: moveclouds_animation 25s linear infinite;
}

.third_cloud {
    left: -250px;
    top: -20px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds_animation 20s linear infinite;
    -moz-animation: moveclouds_animation 20s linear infinite;
    -o-animation: moveclouds_animation 20s linear infinite;
}

.fourth_cloud {
    left: 470px;
    top: -25px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75;
    -webkit-animation: moveclouds_animation 18s linear infinite;
    -moz-animation: moveclouds_animation 18s linear infinite;
    -o-animation: moveclouds_animation 18s linear infinite;
}

.fifth_cloud {
    left: -150px;
    top: -15px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds_animation 20s linear infinite;
    -moz-animation: moveclouds_animation 20s linear infinite;
    -o-animation: moveclouds_animation 20s linear infinite;
}

@-webkit-keyframes moveclouds_animation {
    0% {
        margin-left: 1000px;
    }

    100% {
        margin-left: -1000px;
    }
}

@-moz-keyframes moveclouds_animation {
    0% {
        margin-left: 1000px;
    }

    100% {
        margin-left: -1000px;
    }
}

@-o-keyframes moveclouds_animation {
    0% {
        margin-left: 1000px;
    }

    100% {
        margin-left: -1000px;
    }
}